<form class="simple-form">
  <table class="table table-striped" width="647">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><input type="text" class="form-control" ng-model="nome" size="30" placeholder="adicione o nome do membro"></td>
        <td><input type="text" class="form-control" ng-model="email" size="40" placeholder="adicione o email do membro"></td>
        <td><button ng-click="cadastrar()">salvar</button></td>
      </tr>
    </tbody>
  </table>
</form>